@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a very nice Notes App!</p>
    <img
        src="~/images/creative_note.jpg"
        alt="Illustration of notes and writing tools"
        class="img-fluid img-thumbnail shadow-sm mx-auto d-block"
        style="max-width: 600px;"
    />
</div>
