@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy? Whats that?</p>

<img src="~/images/question_mark.png"
     alt="Illustration of a question mark guy"
     class="img-fluid img-thumbnail shadow-sm mx-auto d-block"
     style="max-width: 600px;" />