@model NotesApp.Models.ViewModels.CreateNoteViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Tags"></label>
                <input asp-for="Tags" class="form-control"
                       placeholder="school, homework, linux" />
                <small class="form-text text-muted">
                    Separate tags with commas
                </small>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">
                    Save Note
                </button>
                <a asp-action="Index" class="btn btn-secondary ms-2">
                    Cancel
                </a>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
